/* .bg-image {
    background-image: url('images/forest.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80vh;  */
    /* width: 50vh;Adjust height as needed
  } */
  